--username {{ dyndns_username }}
--password {{ dyndns_password }}
--period {{ dyndns_check_period_s }}
--forced-update {{ dyndns_forced_update_period_s }}
--alias {{ dyndns_hostname }}
--dyndns_system {{ dyndns_system }}
--syslog