config setup
	nat_traversal=yes
	virtual_private=%v4:10.0.0.0/8,%v4:192.168.0.0/16,%v4:172.16.0.0/12
	oe=off
	protostack=netkey

conn L2TP-PSK
	authby=secret
	pfs=no
	auto=add
	keyingtries=3
	rekey=yes
	ikelifetime=8h
	keylife=1h
	type=transport
	left=%defaultroute
	leftprotoport=17/%any
	right=%any
	rightprotoport=17/%any
	forceencaps=yes
