auto lo

iface lo inet loopback
iface eth0 inet dhcp

auto wlan0
allow-hotplug wlan0
iface wlan0 inet static
  address {{ hotspot_ip }}
  netmask {{ hotspot_netmask }}
  post-up iptables-restore < /etc/iptables.ipv4.nat
