--username {{ inadyn_ddns_username }}
--password {{ inadyn_ddns_password }}
--period {{ inadyn_ddns_check_period_s }}
--forced-update {{ inadyn_ddns_forced_update_period_s }}
--alias {{ inadyn_ddns_hostname }}
--dyndns_system {{ inadyn_ddns_system }}
--syslog
--verbose {{ inadyn_verbosity }}