domain-needed
bogus-priv
no-resolv
no-poll
expand-hosts
{% for host in nat_router_dns_servers %}
server={{ host }}
{% endfor %}
listen-address=127.0.0.1
cache-size=10000
local-ttl=300
interface={{ nat_router_local_interface }}
dhcp-range={{ nat_router_dhcp_range }}
dhcp-option={{ nat_router_dhcp_option }}

#log-queries
#log-facility=/var/log/dnsmasq.log