domain-needed
bogus-priv
no-resolv
no-poll
expand-hosts
server={{ hotspot_dns1 }}
server={{ hotspot_dns2 }}
listen-address=127.0.0.1
cache-size=10000
local-ttl=300
interface={{ hotspot_interface }}
dhcp-range={{ hotspot_dhcp_range }}
dhcp-option={{ hotspot_dhcp_option }}

#log-queries
#log-facility=/var/log/dnsmasq.log