# Hotspot

auto {{ nat_router_local_interface }}
allow-hotplug {{ nat_router_local_interface }}
iface {{ nat_router_local_interface }} inet static
{% if nat_router_bridge_interfaces is defined %}
  bridge_ports {{ nat_router_bridge_interfaces }}
{% endif %}
  address {{ nat_router_ip }}
  netmask {{ nat_router_netmask }}
  post-up if [ -f /etc/iptables.ipv4.nat ]; then iptables-restore < /etc/iptables.ipv4.nat; fi
