*nat
:PREROUTING ACCEPT [27:1988]:INPUT ACCEPT [27:1988]
:OUTPUT ACCEPT [0:0]:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -o {{ hotspot_inet_interface }} -j MASQUERADE
COMMIT
*filter
:INPUT ACCEPT [64:3883]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [44:4432]
-A FORWARD -i {{ hotspot_inet_interface }} -o {{ hotspot_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -i {{ hotspot_interface }} -o {{ hotspot_inet_interface }} -j ACCEPT
COMMIT
