*nat
:PREROUTING ACCEPT [27:1988]
:INPUT ACCEPT [27:1988]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -o {{ nat_router_inet_interface }} -j MASQUERADE
COMMIT
*filter
:INPUT ACCEPT [64:3883]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [44:4432]
COMMIT
