#
# This is a hook script for dhcpcd DHCP client
#
# The script uses upnpc to set up port forwardings for the given ports when
# a network interface with the specified IP address comes up.
#

if [ $if_up -a $new_ip_address = "{{ huawei_local_ip }}" ]; then
{% if upnpc_port_forwards is defined %}
  logger -t dhcpcd "Setting up UPnP port forwards: {{ upnpc_port_forwards }}"
  upnpc -r {{ upnpc_port_forwards }}
{% endif %}
{% for forward in upnpc_port_redirects %}
  logger -t dhcpcd "Adding UPnP port forwards: {{ forward }}"
  upnpc -a {{ forward }}
{% endfor %}
fi
