[Service]
ExecStart=/usr/sbin/inadyn
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=inadyn
User=root
Group=root

[Install]
WantedBy=multi-user.target